@{
    ViewData["Title"] = "Portfolio Page";
}
<div class="Portfolio">

</div><div class="container h-100">
  <div class="row h-100">
    <div class="col-sm h-100 d-flex flex-column">
        <div class="box flex-fill">Box 1</div>
        <div class="box flex-fill">Box 2</div>
        <div class="d-flex flex-fill gap-2">
            <div class="box">
                Box 3A
            </div>
            <div class="box">
               Box 3b
            </div>
        </div>
    </div>
    <div class="col-sm h-100 d-flex flex-column">
        <div class="box flex-fill">Box 1</div>
        <div class="box flex-fill">Box 2</div>
    </div>
  </div>
</div>

<style>

.container {
    max-width: 100%;
    height: 100%;
    padding: 20px 60px 20px 60px;
}

.row {
    height: 100%;
}

.box {
	margin: 10px 0;
	padding: 20px;
	border-radius: 10px;
	background-color: #ededed;
	width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

</style>

